# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/
*.xcconfig
*.lock
# If using CocoaPods, uncomment:
# podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# macOS
.DS_Store

# SwiftPM Artifacts
/.swiftpm/xcode/package.xcworkspace
